<input type="password" (input)="onInput($event)">


<h1
  [ngClass]="{gray: passwordNow =='',red : passwordNow =='bad' ||  passwordNow =='easy',yellow:passwordNow =='okay',green:passwordNow=='nice' } ">
  FIRST</h1>
<h1
  [ngClass]="{gray: passwordNow =='' || passwordNow =='easy',red : passwordNow =='bad',yellow:passwordNow =='okay',green:passwordNow=='nice' } ">
  SECOND</h1>
<h1
  [ngClass]="{gray: passwordNow =='' || passwordNow =='easy' || passwordNow =='okay',red : passwordNow =='bad',green:passwordNow=='nice' } ">
  THIRD</h1>